* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  padding: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 2px 2px 8px rgb(0, 0, 0.3);
  padding: 20px;
  background-color: #fff;
  font-size: 15px;
}

.card ul {
  list-style: none;
  display: grid;
  grid-template-columns: 0.25fr, 1fr;
}

.card ul i {
  font-size: 60px;
  width: 55px;
  margin-right: 5px;
}

.card ul li {
  grid-column: 2 / 3;
  margin-bottom: 1rem;
  margin-top: 6px;
  padding-left: 4px;
}

#author {
  text-align: end;
}

#next {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: #fff;
  margin-left: 92%;
  margin-top: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
